<% include ../partials/header %>
    
    
    
    <div class="container"> 
         <div style=" margin:0 auto;width:30%">
             <h1> Add new comment</h1>
        
  
            <form action="/posts/<%= post._id %>/comments" method="POST">
                <div class="form-group">
                    <textarea id="commentText" class="form-control" type="text" placeholder="Insert comment here!" name="comment[text]"></textarea>
                </div>
                
               
                
                <div class="form-group">
                   <button class="btn btn-lg btn-primary btn-block"> SUBMIT</button> 
                </div>
            </form>
         </div>
    </div>
       
<% include ../partials/footer %>