h2 p{
    font-family: 'Oswald', sans-serif;
     font-size:0.7em;
    margin-left: 40px
}
#title{
    text-align: center;
    font-family:'Satisfy', cursive; 
}

nav{
    font-family: 'Lemonada', cursive;
}
.navbar-default .navbar-brand {
    color: blue;
}
#myPortrait{
   border-radius: 8px;
    height: 500px;
}

.thumbnailsize{
    width:400px
}


/*footer*/
#footer {
    position:fixed;
    bottom:0;
    width:100%;
}

.pull-right {
    padding-right: 20px;
}
/*footer*/