body{
    font-family: 'Oswald', sans-serif;
}
.sneakerName {
    text-transform: uppercase;
    color: blue
}

nav{
    font-family: 'Lemonada', cursive;
}

.thumbnail img  {
    padding : 0 ;
    width: 100%;
}

.thumbnail{
    padding : 0 ;
    
}

.well,.caption-full {
    padding : 20px;
}

.navbar-default .navbar-brand {
    
    color:blue;
}

/*footer*/
#footer {
    position:fixed;
    bottom:0;
    width:100%;
    
}

.pull-right {
    padding-right: 20px;
}

/*#backHomepage{*/
/*    margin-bottom:30px;*/
/*}*/
/*footer*/

#welcome {
    font-family:'Satisfy', cursive; 
}

.mainbtn {
   height: 100px;
   width: 200px;

}

#postImage {
    min-height: 40em;
}


.delete{
    display:inline;
}

#moreInfo {
    margin:auto;
    width:50%;
    display:block;
}

.thumbnail>img {
    height:290px;
}

#descriptionText{
    height:200px;
}

#addFood{
    text-transform: uppercase;
    font-weight : 700;
    
}

.postName {
    font-family: 'Artifika', serif;
}

/*comment*/

.comments{
    padding-top:10px;
    list-style-type: none;
}

.newComment{
    margin-top:80px;
    font-family: 'Anton', sans-serif;

}

.comments li {
    margin-bottom: 25px
}

.edit-comment-form {
    margin-top:10px;
    display: none
}


/**/

/*FOOD BUTTON*/ 


/**/