<% include ../partials/header %>
<link href="https://fonts.googleapis.com/css?family=Artifika" rel="stylesheet">

    <div class="container">
        <div class="jumbotron">
            <div class="container">
               <h1>ARE YOU HUNGRY NOW?</h1>
                <p> Food, one of the few things that mankind is good for. </p>
                <a href="posts/new" class="btn btn-primary" id="addFood"> Add new food :)</a> 
            </div>
        </div>
        
        <div class="row">
            <div class="text-center">
                 <% if(noMatch!==null) { %>
                <h1> <%= noMatch %></h1>
                <p>
        		  	<form action="/posts" method="GET" class="form-inline">
                        <div class="form-group">
                            <input type="text" placeholder="Search for food!" name="search" class="form-control"></textarea>
                        
                           <button class="btn btn-default"> Search</button> 
                        </div>
                    </form>  
		        </p>
                <% } %>
            </div>
        </div>
       
        
        <div class="row" style="display:flex; flex-wrap:wrap">
            
            <% postsList.forEach(function(post){ %>
        
                <div class="thumbnail col-md-3 col-sm-6 text-center">
                    <img class="post_picture" src="<%= post.image %>">
                    <div class="caption">
                        <span class="postName"><%= post.name %></span>
                        <a href="/posts/<%= post._id%>" class="btn btn-primary" id="moreInfo" > More info</a>
                    </div>
                    
                </div>
            <% });  %>
            
        </div>
    </div>
<% include ../partials/footer %>